<!DOCTYPE html>
<html lang="en">
    <head>
        <th:block th:replace="fragments/head :: header" />
        <title>Home 2</title>
    </head>

    <body>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid ">
                <!--Logo-->
                <a class="navbar-brand" href="#Home1">
                    <div class="Logo d-flex align-items-center">
                        <img src="image/mapache.png" height="70" width="70">
                        <span><h2>TaskMate</h2></span>
                    </div>
                </a>
                <!--Menu-->
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <!--Tareas-->
                        <li class="nav-item">
                            <a class="nav-link" href="#Tareas">Tareas</a>
                        </li>
                        <!--Gastos-->
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#Gastos">Gastos</a>
                        </li>
                    </ul>
                </div>
                
                <!--Notificaciones-->
                <div class="Notificaciones mx-4">
                    <img src="image/bell-fill.svg" alt="" height="25" width="25">
                </div>
                <!--Usuario-->
                <div class="Perfil mx-4" > 
                    <img src="image/hombre.png" height="50" width="50"> 
                </div>
            </div>
        </nav>

        <!--Pagina Principal-->
        <div class="text-center p-5">
            <div class="TituloBienvenida">¡Bienvenid@ a Taskmate!</div>
            <h1><div>🏠📝</div></h1>
        
            <div class="Botones p-5">
                <div>
                    <button class="botonCrear">
                        <img src="image/nuevaCasapng.png" alt="Imagen" height="75" width="75">
                    </button>
                    <div class="botonTexto my-2"><b>Crear Casa</b></div>
                </div>
                
                <div>
                    <button class="botonUnirse">
                        <img src="image/buscarCasa.png" alt="Imagen" height="75" width="75">
                    </button>
                    <div class="botonTexto my-2"><b>Unirse a Casa</b></div>
                </div>
            </div>
        </div>
        
    </body>
</html>