<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Home 2</title>
</head>

<body>
    <!--Navbar-->
    <header th:replace="fragments/nav.html :: nav"></header>

    <!--Pagina Principal-->
    <div class="text-center p-5">
        <div class="TituloBienvenida">¡Bienvenid@ a Taskmate!</div>
        <h1>
            <div>🏠📝</div>
        </h1>

        <div class="Botones p-5">
            <div>
                <button class="botonCrear">
                    <img src="image/nuevaCasapng.png" alt="Imagen" height="75" width="75">
                </button>
                <div class="botonTexto my-2"><b>Crear Casa</b></div>
            </div>

            <div>
                <button class="botonUnirse">
                    <img src="image/buscarCasa.png" alt="Imagen" height="75" width="75">
                </button>
                <div class="botonTexto my-2"><b>Unirse a Casa</b></div>
            </div>
        </div>
    </div>

</body>

</html>