body{
    background-color: #faedcd;
}

.contenedor {
    padding: 2%;
}

.TituloDatos, .TituloHabitacion, .TituloMiembros {
    text-align: center;
    font-family: Arial Black; 
    font-size: 35px; 
    background: black; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3); 
}

.Datos, .Habitaciones, .Miembros { 
    border-radius: 35px;
    box-shadow: 10px 5px 12px rgba(0,0,0,.2);
    background-color:#fefae0;
}

.ListaHabitaciones {
    margin: 0 auto;
    width: 70%;
}