/* --- GENERAL --- */
body {
    background-color: #02b9d999;
}

.btn-primary {
    background-color: #02B9D8 !important;
}

.btn-primary:hover {
    transform: scale(1.1);
    box-shadow: #202024 0.1em 0.1em 0.1em;
}

.btn-secondary:hover {
    transform: scale(1.1);
    box-shadow: #202024 0.1em 0.1em 0.1em;
}

input, select {
    background-color: #faedcd !important;
}

.titleStyle {
    text-align: center;
    font-family: Arial Black; 
    font-size: 35px; 
    background: black; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3); 
}

.titleStyleInfo {
    font-family: Arial Black; 
    font-size: 20px; 
    background: #B6ADAA; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

#LogoTM {
    margin-right: 1em;
}

/* --- LOGIN / REGISTER --- */
.bodyLoginReg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

#login, #register {
    margin: auto;
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    background-color:#F8F4EA;
    border-radius: 10px;
}

#login:before, #login:after, #register:before, #register:after {
    content: "";
    display: block;
    background: rgba(238, 232, 170, 0.75);
    position: absolute;
    width: 100px; 
    height: 30px;
}

#login:before, #register:before {
    top: -1px;
    left: -9%;
    transform: rotate(-35deg);
}

#login:after, #register:after {
    top: 3px; 
    right: -8%;
    transform: rotate(45deg);
}

.roundedImg {
    background-color: #F8F4EA;
    border: 3px solid #02B9D8;
    border-radius: 50%;
}

/* --- NAV --- */
.bg-light, .navbar-light {
    background-color: #202024 !important;
}

.Notificaciones {
    cursor: pointer;
}

#notificacion-bell:hover {
    transform: scale(1.4);
    filter: drop-shadow(0 2px 5px #B6ADAA); 
}

#buttonTasks,  #buttonExpenses {
    color: #F8F4EA;
}

#buttonManager {
    color: #FFB919;
}

#buttonTasks:hover,  #buttonExpenses:hover, #buttonManager:hover {
    transform: scale(1.3);
    text-shadow: #B6ADAA 0.1em 0.1em 0.2em;
}

/* --- NAV - NOTIFICATIONS --- */
.canvasNot{
    background-color: #202024;
    color: #F8F4EA;
}

.textColor{
    color:#202024
}

/* --- HOME 1 --- */
.HomePrincipal {
    padding: 2%;
}

.notas, .gastos {
    width: 90%;
}

/* --- HOME 2 --- */
.TituloBienvenida {
    text-align: center;
    font-family: Arial Black; 
    font-size: 55px; 
    background: black; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3); 
}

#btnsCasas {
    background:  #F8F4EA !important;
}

/* --- TASKS --- */
.card {
    border-radius: 25px;
}

/* --- EXPENSES --- */


/* --- MANAGER --- */
.textCardManager {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgActionsDelete, .imgActionsEdit {
    border: 0;
    background-color: transparent;
}

.imgActionsEdit:hover {
    transform: scale(1.3);  
    filter: drop-shadow(0 2px 5px gold); 
}

.imgActionsDelete:hover {
    transform: scale(1.3);  
    filter: drop-shadow(0 2px 5px crimson); 
}

/* --- ADMIN --- */
#div-list {
    height: 10rem;
}

#div-list > div {
    border: 0.3rem solid red;
}

.balance > p {
    font-size: 2.5em;
    margin: 1.5em;
}

.div-gastos > div > p {
    margin: 1em;
    font-size: 1.2em;
    font-weight: bold;
}

.div-gastos > div {
    margin: 3em 2em 0em 2em;
    border-radius: 3em;
    background-color: #fefae0;
}

.div-gastos > div > button {
    border: none;
    background: none;
    padding: 0;
}

.manager, .Habitaciones, .Miembros, .tareas, .notas, .gastos { 
    border-radius: 35px;
    box-shadow: 10px 5px 12px rgba(0,0,0,.2);
    background-color:#F8F4EA;
}

/*Para el carousel*/
.task-card {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 2%;
    background-color: whitesmoke;
}

.carousel-item {
    justify-content: center;
    align-items: center;
}

.carousel-control-prev, .carousel-control-next {
    width: auto;
    color: black;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    color: black;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
}

.Botones {
    border-radius: 35px;
    box-shadow: 10px 5px 12px rgba(0,0,0,.2);
    background-color:#fefae0;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.botonCrear, .botonUnirse {
    border-radius: 50%;
    cursor: pointer;
    padding: 2%;
}

.botonCrear:hover, .botonUnirse:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
}

.botonTexto {
    text-align: center;
    font-family: Arial Black; 
    font-size: 25px; 
    background: black; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3); 
}

.image-container img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.2);
    filter: invert(7%);
}

/* Estilo Modal */
.modal-footer {
    border: none;
    padding: 0 !important;
}

.modalCross:hover {
    filter: drop-shadow(0px 0px 2px crimson);
}