/* --- GENRAL --- */
body{
    background-color: #faedcd;
}

/* --- LOGIN --- */
#login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    background-color:#fefae0;
    border-radius: 10px;
}

#login:before, #login:after {
    content: "";
    display: block;
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100px; 
    height: 30px;
}

#login:before {
    top: -1px;
    left: -9%;
    transform: rotate(-35deg);
}

#login:after {
    top: 3px; 
    right: -8%;
    transform: rotate(45deg);
}

.titleLogIn {
    font-family: Arial Black; 
    font-size: 35px; 
    background: black; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
    margin-top: -12%;
}

.overlayImg {
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -8vh;
    filter:drop-shadow(0px 0px 4px LightSlateGray);
}

.roundedImg {
    background-color: white;
    border: 3px solid black;
}

/* --- NAV --- */


/* --- HOME 1 --- */


/* --- HOME 2 --- */


/* --- TASKS --- */


/* --- EXPENSES --- */


/* --- MANAGER --- */


/* --- ADMIN --- */


.tareas{
    border-radius: 35px;
    box-shadow: 10px 5px 12px rgba(0,0,0,.2);
    background-color:#4e4e4e;
}

#div-list {
    height: 44.5rem;
}

#div-list > div {
    border: 0.3rem solid black;
}

.contenedor {
    padding: 2%;
}

.red {
    color: red;
}

.green {
    color: green;
}

.bolder {
    font-weight: bold;
}

.balance > p {
    font-size: 2.5em;
    margin: 1.5em;
}

.div-gastos > div > p {
    margin: 1em;
    font-size: 1.2em;
    font-weight: bold;
}

.div-gastos > div {
    margin: 3em 2em 0em 2em;
    border-radius: 3em;
    background-color: #fefae0;
}

.div-gastos > div > button {
    border: none;
    background: none;
    padding: 0;
}

.TituloBienvenida {
    text-align: center;
    font-family: Arial Black; 
    font-size: 55px; 
    background: black; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3); 
}

.titleStyle {
    text-align: center;
    font-family: Arial Black; 
    font-size: 35px; 
    background: black; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3); 
}

.Datos, .Habitaciones, .Miembros, .tareas, .notas, .gastos { 
    border-radius: 35px;
    box-shadow: 10px 5px 12px rgba(0,0,0,.2);
    background-color:#fefae0;
}

.ListaHabitaciones {
    margin: 0 auto;
    width: 70%;
}

.notas, .gastos {
    width: 90%;
}

.gastos {
    margin:20px;
    padding-bottom: 30px;
}

.notas {
    padding-bottom: 30px;
}

/*Para el carousel*/
.task-card {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 2%;
    background-color: whitesmoke;
}

.carousel-item {
    justify-content: center;
    align-items: center;
}

.carousel-control-prev, .carousel-control-next {
    width: auto;
    color: black;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    color: black;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
}

.HomePrincipal {
    padding: 2%;
}

.Botones {
    border-radius: 35px;
    box-shadow: 10px 5px 12px rgba(0,0,0,.2);
    background-color:#fefae0;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.botonCrear, .botonUnirse {
    border-radius: 50%;
    cursor: pointer;
    padding: 2%;
}

.botonCrear:hover, .botonUnirse:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
}

.botonTexto {
    text-align: center;
    font-family: Arial Black; 
    font-size: 25px; 
    background: black; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3); 
}

.image-container img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.2);
    filter: invert(9%);
}

/* Estilo Modal */
.modal-footer {
    border: none;
}

.modalCross:hover {
    filter: drop-shadow(0px 0px 2px crimson);
}

#LogoTM {
    margin-right: 1em;
}