<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Admin</title>
    <script th:src="@{/js/house.js}" src="/js/house.js"></script>
    <script th:src="@{/js/user.js}" src="/js/user.js"></script>
</head>

<body>
    <!--Navbar-->
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="container-fluid p-4">
        <!--Casas-->
        <div class="card-list p-1 d-flex justify-content-center">
            <div class="admin p-3 w-75">
                <div class="titleStyle">Casas</div>
                <div class="p-3">
                    <div th:each="house: ${houses}" class="card my-2">
                        <div th:text="${house.id}" hidden> </div>
                        <div class="card-content d-flex p-2 align-items-center justify-content-between">
                            <div class="d-flex ms-2">
                                <h2 class="mb-0">🏠&ensp;</h2>
                                <h5 th:text="${house.name}" class="mb-0 d-flex align-items-center justify-content-center titleStyleInfo"></h5>
                            </div>
                            <div>
                                <button type="button" class="imgActionsDelete" th:onclick="deleteHouse([[${house.id}]])">
                                    <img th:src="@{/img/basura.png}" src="/img/basura.png" width="50" height="50">
                                </button>
                                <button class="btn" type="button" data-bs-toggle="collapse" th:id="'infoUsersHouseButton' + ${house.id}" th:attr="data-bs-target='#collapseAreaHouse' + ${house.id}" aria-expanded="false" aria-controls="collapseExample" th:onclick="viewHouseUserInfo([[${house.id}]])">
                                    <span class="image-container">
                                        <img th:src="@{/img/vista.png}" src="/img/vista.png" width="60" height="60">
                                    </span>
                                </button>
                            </div>
                        </div>

                        <div class="p-2 collapse" th:id="'collapseAreaHouse' + ${house.id}">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal BORRAR CASA -->
	<div class="modal fade" id="deleteHouseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
                    <h4 class="modal-title">⚠️ <u>Borrar Casa</u></h4>
                    <button type="button" class="btn-close modalCross" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

				<div class="modal-body">
					<div class="p-3 text-center" id="titleDeleteModal">
						
					</div>
					<div class="text-danger text-center"><b>*Una vez confirmado no se podrá recuperar*</b></div>
					
					
					<div class="modal-footer text-center d-flex justify-content-between align-items-center mt-3">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
						<button type="submit" id="confirmDeleteHouseButton" data-bs-dismiss="modal" class="btn btn-primary" >Confirmar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>