<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Admin</title>
    <script th:src="@{/js/stomp.js}" src="/js/stomp.js"></script>
    <script th:src="@{/js/iw.js}" src="/js/iw.js"></script>
    <script th:src="@{/js/house.js}" src="/js/house.js"></script>
    <script th:src="@{/js/user.js}" src="/js/user.js"></script>
</head>

<body>
    <!--Navbar-->
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="container-fluid p-4">
        <div class="row">
            <!--Casas-->
            <div class="card-list p-1">
                <div class="admin p-3">
                    <div class="titleStyle">Casas</div>
                    <div th:each="house: ${houses}" class="card my-2">
                        <div th:text="${house.id}" hidden> </div>
                        <div class="card-content d-flex p-1 bg align-items-center">
                            <div class="col">
                                <h5 th:text="${house.name}"> NOMBRE CASA </h5>
                            </div>

                            <button type="button" class="imgActionsEdit">
                                <img th:src="@{/img/lapiz.png}" src="/img/lapiz.png" width="50" height="50" style="margin-right: 5%;">
                            </button>
                            <button type="button" class="imgActionsDelete" th:onclick="deleteHouse([[${house.id}]])">
                                <img th:src="@{/img/basura.png}" src="/img/basura.png" width="50" height="50" style="margin-right: 5%;" >
                            </button>
                            <button class="btn" type="button" onclick="viewHouseUserInfo(event)">
                                <div class="d-none" id="housePersonalID" th:text="${house.id}"></div>
                                <span class="image-container">
                                    <img th:src="@{/img/vista.png}" src="/img/vista.png" width="65" height="65" style="margin-right: 5%;" >
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-list p-1">
                <div class="admin p-3">
                    <div class="titleStyle">Miembros</div>
                    <div th:each="user: ${ListHouseUsers}" id="HouseUsersCards"class="card my-2" hidden>
                        <div class="card-content d-flex p-1 align-items-center HouseUserCard">
                            <div class="col ms-2 my-1">
                                <h3 th:text="${user.username}"></h3>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal BORRAR CASA -->
	<div class="modal fade" id="deleteHouseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
                    <h4 class="modal-title">⚠️ <u>Borrar Casa</u></h4>
                    <button type="button" class="btn-close modalCross" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

				<div class="modal-body">
					<div class="p-3 text-center" id="titleDeleteModal">
						
					</div>
					<div class="text-danger text-center"><b>*Una vez confirmado no se podrá recuperar*</b></div>
					
					
					<div class="modal-footer text-center d-flex justify-content-between align-items-center mt-3">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
						<button type="submit" id="confirmDeleteHouseButton" data-bs-dismiss="modal" class="btn btn-primary" >Confirmar</button>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>