<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/head :: header" />
    <script th:src="@{/js/expenses.js}" src="/js/expenses.js"></script>
    <title>Expenses</title>
</head>

<body>
    <!--Navbar-->
    <header th:replace="fragments/nav.html :: nav"></header>

    <!-- Principal -->
    <div class="container-fluid p-4">
        <div class="row">
            <!-- Nuevo Gasto -->
            <div class="col p-1">
                <div class="gastos p-3 w-100">
                    <div class="row d-flex justify-content-center">
                        <div class="col">
						</div>
						<div class="titleStyle col d-flex align-items-center justify-content-center">Gastos</div>
						<div class="col d-flex justify-content-end align-items-end">
                            <button type="button" class="btn rounded" data-bs-toggle="tooltip">
                                <span class="image-container" title="Añadir gasto">
                                    <img th:src="@{/img/agregar.png}" src="/img/agregar.png" width="45" height="45" data-bs-toggle="modal" data-bs-target="#newModalSpent">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mt-2 d-flex align-items-center justify-content-center">
                    <!-- Lista Gastos -->
                    <div class="gastos p-3 w-100">
                        <div id="noTasks" th:if="${#lists.size(expenses) == 0}" class="titleStyle">
                            <h4>No se encuentran gastos para la casa</h4>
                            <img th:src="@{/img/noHayTareas.png}" src="/img/noHayTareas.png" height="50" width="50">
                        </div>
                        <div th:each="expense : ${expenses}" class="">
                            <div th:text="${expense.title}">Clara</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-5 p-1">
                <div class="gastos p-3 w-100">
                    <!-- Balance -->
                    <div>
                        <div class="titleStyle">Balance</div>
                        <div th:each="user : ${users}" th:text="${user.name}">
                            <span th:text="${user.money}" class="bolder"></span>
                        </div>
                    </div>
                </div>

                <div class="gastos p-3 mt-2 w-100">
                    <!-- Reparto -->
                    <div>
                        <div class="titleStyle">Reparto</div>
                        <div th:each="distribution : ${distributions}" class="border border-3 border-dark d-flex flexdirection-row justify-content-around">
                            <p th:text="${distribution.source}">Lucas</p>
                            <p>Paga</p>
                            <p th:text="${distribution.money}">34.21€</p>
                            <p>A</p>
                            <p th:text="${distribution.destination}">David</p>
                            <button><img th:src="@{/img/tick.svg}" src="/img/tick.svg" width="30" alt="Tick"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal NUEVO GASTO -->
    <div class="modal fade" id="newModalSpent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">💲<u>Nuevo Gasto</u></h4>
                    <button type="button" class="btn-close modalCross" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form th:action="@{/newExpense}" method="post" id="form-newExpense">
                        <div class="row mb-3">
                            <label class="col-5 align-self-center"><b>·&nbsp;</b> Descripción del gasto:</label>
                            <div class="col-7">
                                <input type="text" class="form-control" id="expenseDescription" name="description" placeholder="Descripción del gasto" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-5 align-self-center"><b>·&nbsp;</b> Cantidad gastada:</label>
                            <div class="col-7 d-flex">
                                <input type="number" class="form-control" id="expenseQuantity" name="description" placeholder="Insertar Cantidad (€)" min="0" step="0.01" required>
                                <span for="expenseQuantity"><h4> &euro;</h4></span>
                            </div>
                        </div>
                    </form>
                    
                    <div class="modal-footer text-center d-flex justify-content-between align-items-center mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button data-bs-dismiss="modal" class="btn btn-primary" onclick="newExpense(event)">Nuevo Gasto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>