<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/head :: header" />
    <script th:src="@{/js/expenses.js}" src="/js/expenses.js"></script>
    <title>Expenses</title>
</head>

<body>
    <!--Navbar-->
    <header th:replace="fragments/nav.html :: nav"></header>

    <!-- Principal -->
    <div class="container-fluid p-4">
        <div class="row">
            <!-- Nuevo Gasto -->
            <div class="col p-1">
                <div class="gastos p-3 w-100">
                    <div class="row d-flex justify-content-center">
                        <div class="col">
						</div>
						<div class="titleStyle col d-flex align-items-center justify-content-center">Gastos</div>
						<div class="col d-flex justify-content-end align-items-end">
                            <button type="button" class="btn rounded" data-bs-toggle="tooltip">
                                <span class="image-container" title="Añadir gasto">
                                    <img th:src="@{/img/agregar.png}" src="/img/agregar.png" width="45" height="45" data-bs-toggle="modal" data-bs-target="#newModalSpent">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mt-2 d-flex align-items-center justify-content-center">
                    <!-- Lista Gastos -->
                    <div class="gastos p-3 w-100" id="divCardsExpenses">
                        <div id="noExpenses" th:if="${#lists.size(expenses) == 0}" class="titleStyle">
                            <h4>No se encuentran gastos para la casa</h4>
                            <img th:src="@{/img/noHayGastos.png}" height="50" width="50">
                        </div>
                        <div class="card my-2" th:each="expense : ${expenses}" th:id="'idCardExpense'+${expense.id}">
                            <div class="card-content d-flex p-1 align-items-center">
                                <div class="col ms-2 my-1">
                                    <h3 th:text="${expense.title}"></h3>
                                    <h5 th:text="${#dates.format(expense.date, 'dd/MM/yyyy')}"></h5>
                                </div>
                                <div class="col d-flex">
                                    <h3 th:text="${expense.quantity}"></h3>
                                    <span><h3 style="color: #FF991F;">&ensp;&euro;</h3></span>
                                </div>
                                <div class="mx-4 text-center">
									<b><u>Acciones</u></b>
									<div class="d-flex mt-1">
										<div>
											<button type="button" class="imgActionsEdit" data-id="${expense.id}" th:onclick="editExpense([[${expense.id}]])" title="Editar gasto">
												<img th:src="@{/img/lapiz.png}" src="/img/lapiz.png" width="35" height="35" >
											</button>
										</div>
                                        <div>
											<button type="button" class="imgActionsPay" data-id="${expense.id}" th:onclick="payExpense([[${expense.id}]])" title="Pagar gasto">
												<img th:src="@{/img/pagar.png}" src="/img/pagar.png" width="35" height="35" >
											</button>
										</div>
										<div>
											<button type="button" class="imgActionsDelete" id="btnDeleteRoom" th:attr="data-name=${expense.title}" th:onclick="deleteExpense([[${expense.id}]], [[${expense.title}]])" title="Eliminar gasto">
												<img th:src="@{/img/basura.png}" src="/img/basura.png" width="35" height="35" >
											</button>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-5 p-1">
                <div class="gastos p-3 w-100">
                    <!-- Balance -->
                    <div>
                        <div class="titleStyle">Balance</div>
                        <div th:each="user : ${users}" th:text="${user.name}">
                            <span th:text="${user.money}" class="bolder"></span>
                        </div>
                    </div>
                </div>

                <div class="gastos p-3 mt-2 w-100">
                    <!-- Reparto -->
                    <div>
                        <div class="titleStyle">Reparto</div>
                        <div th:each="distribution : ${distributions}" class="border border-3 border-dark d-flex flexdirection-row justify-content-around">
                            <p th:text="${distribution.source}">Lucas</p>
                            <p>Paga</p>
                            <p th:text="${distribution.money}">34.21€</p>
                            <p>A</p>
                            <p th:text="${distribution.destination}">David</p>
                            <button><img th:src="@{/img/tick.svg}" src="/img/tick.svg" width="30" alt="Tick"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal NUEVO GASTO -->
    <div class="modal fade" id="newModalSpent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">💲<u>Nuevo Gasto</u></h4>
                    <button type="button" class="btn-close modalCross" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="form-newExpense">
                        <div class="row mb-3">
                            <label class="col-5 align-self-center m-0"><b>·&nbsp;</b> Descripción del gasto:</label>
                            <div class="col-7">
                                <input type="text" class="form-control" id="expenseDescription" name="description" placeholder="Descripción del gasto" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-5 align-self-center m-0"><b>·&nbsp;</b> Cantidad gastada (€):</label>
                            <div class="col-7">
                                <input type="number" class="form-control" id="expenseQuantity" name="description" placeholder="Insertar Cantidad (€)" min="0" step="0.01" lang="es" required>
                            </div>
                        </div>                      
                    </form>
                    
                    <div class="modal-footer text-center d-flex justify-content-between align-items-center mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button data-bs-dismiss="modal" class="btn btn-primary" onclick="newExpense(event)">Nuevo Gasto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal EDITAR GASTO -->
    <div class="modal fade" id="editModalSpent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">✒️ <u>Editar Gasto</u></h4>
                    <button type="button" class="btn-close modalCross" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="form-newExpense">
                        <div class="row mb-3">
                            <label class="col-5 align-self-center m-0"><b>·&nbsp;</b> Descripción del gasto:</label>
                            <div class="col-7">
                                <input type="text" class="form-control" id="expenseDescriptionEdit" name="description" placeholder="Descripción del gasto" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-5 align-self-center m-0"><b>·&nbsp;</b> Cantidad gastada (€):</label>
                            <div class="col-7">
                                <input type="number" class="form-control" id="expenseQuantityEdit" name="description" placeholder="Insertar Cantidad (€)" min="0.01" step="0.01" lang="es" required>
                            </div>
                        </div>                      
                    </form>
                    
                    <div class="modal-footer text-center d-flex justify-content-between align-items-center mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button id="buttonExpenseUpdate" data-bs-dismiss="modal" class="btn btn-primary">Confirmar cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal PAGAR GASTO -->
    <div class="modal fade" id="payModalSpent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">🪙<u>Pagar Gasto</u></h4>
                    <button type="button" class="btn-close modalCross" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form th:action="@{/newExpense}" method="post" id="form-newExpense">
                        <div class="row mb-3">
                            <label class="col-5 align-self-center m-0"><b>·&nbsp;</b> Descripción del gasto:</label>
                            <div class="col-7">
                                <input type="text" class="form-control" id="expenseDescription" name="description" placeholder="Descripción del gasto" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-5 align-self-center m-0"><b>·&nbsp;</b> Cantidad gastada (€):</label>
                            <div class="col-7">
                                <input type="number" class="form-control" id="expenseQuantity" name="description" placeholder="Insertar Cantidad (€)" min="0" step="0.01" lang="es" required>
                            </div>
                        </div>                      
                    </form>
                    
                    <div class="modal-footer text-center d-flex justify-content-between align-items-center mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button data-bs-dismiss="modal" class="btn btn-primary" onclick="newExpense(event)">Nuevo Gasto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal BORRAR GASTO -->
    <div class="modal fade" id="deleteModalSpent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">⚠️ <u>Borrar Gasto</u></h4>
                    <button type="button" class="btn-close modalCross" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="p-3 text-center" id="bodyDeleteModal"></div>
					<div class="text-danger text-center"><b>*Una vez confirmado no se podrá recuperar*</b></div>
                    
                    <div class="modal-footer text-center d-flex justify-content-between align-items-center mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="confirmDeleteExpenseButton" class="btn btn-primary">Nuevo Gasto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>