<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/head :: header" />
    <script th:src="@{/js/homescripts.js}" src="/js/homescripts.js"></script>
    <title>Home</title>
</head>

<body>
    <!--Navbar-->
    <header th:replace="fragments/nav.html :: nav"></header>

    <!--Pagina Principal-->
    <div class="HomePrincipal container-fluid">
        <div class="row">
            <!--Tareas-->
            <div class="col card-list tareas">
                <div class="titleStyle mt-2">TAREAS</div>
                <div class="p-2" id="divTasksHome">
                    <div th:if="${#lists.size(tasks) == 0}" class="titleStyle">
                        <h4>No hay tareas registradas</h4>
                        <img th:src="@{/img/noHayTareas.png}" src="/img/noHayTareas.png" height="50" width="50">
                    </div>
                    
                    <div th:each="task : ${tasks}">
                        <div class="card my-2">
                            <div class="card-content d-flex p-1 align-items-center">
                                <img th:src="@{/img/{img}.png(img=${task.room.img})}" src="/img/{img}.png(img=${task.room.img})" alt="Imagen de la tarea" width="65" height="65" style="margin-inline: 3%;"/>
                                <div>
                                    <h3 th:text="${task.title}"></h3>
                                    <h4 th:text="${task.author}"></h4>
                                </div>
                                <div class="col text-center">
                                    <h4 th:text="${#dates.format(task.creationDate, 'dd-MM-yyyy')}"></h4>
                                    <h4 th:text="${task.room.name}"></h4>
                                </div>
                                <div class="text-center mb-2 mx-2">
                                    <label class="form-check-label" for="taskDone">
                                        <h6>Tarea completada</h6>
                                    </label>
                                    <div class="form-check d-flex justify-content-center">
                                        <input th:if="${task.done == false}" class="form-check-input" type="checkbox" value="" th:id="'completeTaskCheck' + ${task.id}" th:onclick="changeTaskState([[${task.id}]])">
                                        <input th:if="${task.done == true}" class="form-check-input" type="checkbox" value="" th:id="'completeTaskCheck' + ${task.id}" th:onclick="changeTaskState([[${task.id}]])" checked>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <!--Gastos-->
                <div class="row justify-content-center align-items-center text-center">
                    <div class="gastos">
                        <div class="titleStyle mt-2">GASTOS</div>
                        <div class="p-2">
                            <div class="d-flex my-2 justify-content-center">
                                <div class="card p-2 w-50">
                                    <div class="d-flex justify-content-center" id="divCurrentBalanceHome">
                                        <h3 id="currentBalanceHome" th:text="${u.balance}" th:if="${u.balance >= 0.0}" class="text-success"></h3>
                                        <h3 id="currentBalanceHome" th:text="${u.balance}" th:if="${u.balance < 0.0}" class="text-danger"></h3>
                                        <h4>&euro;</h4>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${#lists.size(expenses) == 0}" class="titleStyle">
                                <h4>No hay gastos registrados</h4>
                                <img th:src="@{/img/noHayGastos.png}" height="50" width="50">
                            </div>
                            <div class="card my-2" th:each="userExpenses: ${expenses}" th:id="'expenseHomeCard' + ${userExpenses.id}">
                                <div class="card-content d-flex p-1 align-items-center">
                                    <div class="text-start" style="margin-inline: 3%;">
                                        <h3 th:text="${userExpenses.expenseT.title}"></h3>
                                        <h4 th:text="${userExpenses.expenseT.author.username}"></h4>
                                    </div>
                                    <div class="col text-center">
                                        <h4 th:text="${userExpenses.expenseT.quantityByUser}"></h4>
                                    </div>
                                    <div class="mx-4 text-center">
                                        <h6>Pagar</h6>
                                        <div>
                                            <button type="button" class="imgActionsPay" th:onclick="payExpense([[${userExpenses.id}]])" title="Pagar gasto">
                                                <img th:src="@{/img/pagar.png}" src="/img/pagar.png" width="35" height="35" >
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</body>

</html>