<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Home</title>
</head>

<body>
    <!--Navbar-->
    <header th:replace="fragments/nav.html :: nav"></header>

    <!--Pagina Principal-->
    <div class="HomePrincipal container-fluid">
        <div class="row">
            <!--Tareas-->
            <div class="col card-list tareas">
                <div class="titleStyle mt-2">TAREAS</div>
                <div class="p-3" id="divTasksHome">
                    <div th:if="${#lists.size(tasks) == 0}" class="titleStyle">
                        <h4>No hay tareas registradas</h4>
                        <img th:src="@{/img/noHayTareas.png}" src="/img/noHayTareas.png" height="50" width="50">
                    </div>
                    
                    <div th:each="task : ${tasks}">
                        <div class="card my-2">
                            <div class="card-content d-flex p-1 align-items-center">
                                <img th:src="@{/img/{img}.png(img=${task.room.img})}" src="/img/{img}.png(img=${task.room.img})" alt="Imagen de la tarea" width="65" height="65" style="margin-inline: 3%;"/>
                                <div>
                                    <h3 th:text="${task.title}"></h3>
                                    <h4 th:text="${task.author}"></h4>
                                </div>
                                <div class="col text-center">
                                    <h4 th:text="${#dates.format(task.creationDate, 'dd-MM-yyyy')}"></h4>
                                    <h4 th:text="${task.room.name}"></h4>
                                </div>
                                <div class="text-center mb-2">
                                    <label class="form-check-label" for="taskDone">
                                        <h6>Tarea completada</h6>
                                    </label>
                                    <div class="form-check col text-center">
                                        <input class="form-check-input" type="checkbox" value="" id="taskDone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <!--Gastos-->
                <div class="row justify-content-center align-items-center text-center">
                    <div class="gastos mt-2">
                        <div class="titleStyle mt-2">GASTOS</div>
                        <div class="p-3">
                            <div th:if="${#lists.size(tasks) == 0}" class="titleStyle">
                                <h4>No hay gastos registrados</h4>
                                <img th:src="@{/img/noHayGastos.png}" height="50" width="50">
                            </div>
                            <div class="Gastos_actuales">
                                <h1 th:text="${expenses?.total}">&euro;</h1> <!--Comprueba campo nulable--> 
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</body>

</html>