<!DOCTYPE html>
<html lang="en">

<head>
	<th:block th:replace="fragments/head :: header" />
	<title>Manager</title>
	<script th:src="@{/js/stomp.js}" src="/js/stomp.js"></script>
    <script th:src="@{/js/iw.js}" src="/js/iw.js"></script>
    <script th:src="@{/js/room.js}" src="/js/room.js"></script>
	<script th:src="@{/js/user.js}" src="/js/user.js"></script>
</head>

<body>
	<!--Navbar-->
	<header th:replace="fragments/nav.html :: nav"></header>

	<div class="container-fluid p-4">
		<div class="d-flex align-items-center justify-content-center">	
			<div class="manager p-3">
				<div class="titleStyle">Datos de la casa</div>
				<hr>
				<div class="row">
					<div class="titleStyle d-flex justify-content-center">
						<div class="d-flex justify-content-center align-items-center mx-5">
							<h4>Nombre:&ensp;</h4>
							<h3 th:text="${currHouse.name}"></h3>
						</div>
						<div class="d-flex justify-content-center align-items-center mx-5">
							<h4>Contraseña:&ensp;</h4>
							<h3>***********</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col card-list">
				<div class="Habitaciones p-3">
					<div class="row d-flex justify-content-center">
						<div class="col">
						</div>
						<div class="titleStyle col d-flex align-items-center justify-content-center">Habitaciones</div>
						<div class="col d-flex justify-content-end align-items-end">
							<button type="button" class="btn rounded">
								<span class="image-container">
									<img th:src="@{/img/agregar.png}" id="addRoomImg" src="/img/agregar.png" alt="Imagen" width="35" height="35" data-bs-toggle="modal" data-bs-target="#newRoomModal">
								</span>
							</button>
						</div>
					</div>
					
					<div id="divCardsRoom">
						<div class="card my-2" th:each="room : ${rooms}">
							<div class="card-content d-flex justify-content-between ms-2 p-1">
								<div class="d-flex">
									<div class="mx-3">
										<img th:src="@{/img/{img}.png(img=${room.img})}" width="50" height="60">
									</div>									
									<div th:text="${room.name}" class="titleStyle textCardManager"></div>
								</div>
								<div class="mx-4 text-center">
									<div class="mx-3 room-info" data-room-id="${room.id}" data-room-name="${room.name}"></div>

									<b><u>Acciones</u></b>
									<div class="d-flex mt-1">
										<div class="mx-3">
											<button type="button" class="btn btn-sm btn-primary imgActionsEdit" data-id="${room.id}" th:onclick="editRoom([[${room.id}]])">
												<img th:src="@{/img/lapiz.png}" src="/img/lapiz.png" width="35" height="35" >
											</button>
										</div>
										<div class="mx-3">
											<button type="button" class="imgActionsDelete" th:onclick="deleteRoom([[${room.id}]])">
												<img th:src="@{/img/basura.png}" src="/img/basura.png" width="35" height="35" >
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="room-info" style="display: none;" data-room-id="${room.id}" data-room-name="${room.name}"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col card-list">
				<div class="Miembros p-3">
					<div class="titleStyle">Miembros</div>
					
					<div id="divCardsMembers">
						<div class="card my-2" th:each="user : ${membersHouse}">
							<div class="card-content d-flex justify-content-between ms-2 p-1">
								<div class="d-flex">
									<!-- AQUI -->
									<div class="mx-3">
										<img th:if="${#strings.equals(user.roles, 'MANAGER')}" th:src="@{/img/JefeCasa.png}" src="/img/JefeCasa.png" width="50" height="60">
										<img th:if="${#strings.equals(user.roles, 'ADMIN')}" th:src="@{/img/LogoTM.png}" src="/img/LogoTM.png" width="50" height="60">
										<img th:if="${#strings.equals(user.roles, 'USER')}" th:src="@{/img/User.png}" src="/img/User.png" width="50" height="60">
									</div>
									<div th:text="${user.username}" class="titleStyle textCardManager"></div>
								</div>
								<div class="mx-4 text-center">
									<b><u>Acciones</u></b>
									<div class="d-flex mt-1">
										<!-- <div class="mx-3 imgActionsEdit">
											<img th:src="@{/img/lapiz.png}" src="/img/lapiz.png" width="35" height="35">
										</div> -->
										<div class="mx-3">
											<button type="button" class="imgActionsDelete" th:onclick="deletehouseUser([[${user.id}]])">
												<img th:src="@{/img/basura.png}" src="/img/basura.png" width="35" height="35" data-bs-toggle="modal" data-bs-target="#deleteMemberModal">
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal CREAR HABITACION -->
    <div class="modal fade" id="newRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">🛏️ <u>Nueva Habitación</u></h4>
                    <button type="button" class="btn-close modalCross" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <form id="form-newRoom">
                        <div class="row mb-3">
                            <label class="col-5 align-self-center">·&nbsp;Nombre de habitación:</label>
                            <div class="col-7">
                                <input type="text" class="form-control" id="roomName" name="roomName" placeholder="Nombre de la habitacion" required>
                            </div>
                        </div>

						<div class="row mb-3">
                            <label class="col-5 align-self-center">·&nbsp;Foto de habitación:</label>
                            <div class="d-flex justify-content-center">
								<div class="p-2">
									<input type="radio" id="photokitchen" name="photoSelect" value="cocina">
									<label for="photokitchen">
										<img th:src="@{/img/cocina.png}" src="/img/cocina.png" id="kitchen" width="50" height="50">
										<b>Cocina</b>
									</label><br>
									
									<input type="radio" id="photoBathroom" name="photoSelect" value="banio">
									<label for="photoBathroom">
										<img th:src="@{/img/cuarto-de-bano.png}" src="/img/cuarto-de-bano.png" id="bathroom" width="50" height="50">
										<b>Baño</b>
									</label><br>
									
									<input type="radio" id="photoLivingRoom" name="photoSelect" value="salon">
									<label for="photoLivingRoom">
										<img th:src="@{/img/livingroom.png}" src="/img/livingroom.png" id="livingroom" width="50" height="50">
										<b>Salón</b>
									</label><br>
									
									<input type="radio" id="photoRoom" name="photoSelect" value="habitacion">
									<label for="photoRoom">
										<img th:src="@{/img/room.png}" src="/img/room.png" id="bedroom" width="50" height="50">
										<b>Habitación</b>
									</label><br>
								</div>
								
								<div class="p-2">
									<input type="radio" id="photoCorridor" name="photoSelect" value="pasillo">
									<label for="photoCorridor">
										<img th:src="@{/img/pasillo.png}" src="/img/pasillo.png" id="corridor" width="50" height="50">
										<b>Pasillo</b>
									</label><br>

									<input type="radio" id="photoTerrace" name="photoSelect" value="terraza">
									<label for="photoTerrace">
										<img th:src="@{/img/terraza.png}" src="/img/terraza.png" id="terrace" width="50" height="50">
										<b>Terraza</b>
									</label><br>

									<input type="radio" id="photoStorage" name="photoSelect" value="trastero">
									<label for="photoStorage">
										<img th:src="@{/img/trastero.png}" src="/img/trastero.png" id="storage" width="50" height="50">
										<b>Trastero</b>
									</label><br>

									<input type="radio" id="photoGarage" name="photoSelect" value="garaje">
									<label for="photoGarage">
										<img th:src="@{/img/garaje.png}" src="/img/garaje.png" id="garage" width="50" height="50">
										<b>Garaje</b>
									</label><br>
								</div>

                                <!-- <input type="text" class="form-control" id="roomName" name="roomName" placeholder="Nombre de la habitacion" required> -->
                            </div>
                        </div>
                       
                        <div class="modal-footer text-center d-flex justify-content-between align-items-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary" onclick="newRoom(event)">Nueva Habitación</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

	<!-- Modal EDITAR HABITACION -->
	<div class="modal fade" id="editRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
                    <h4 class="modal-title">✒️ <u>Editar Habitación</u></h4>
                    <button type="button" class="btn-close modalCross" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

				<div class="modal-body">
					<div class="row mb-3">
						<label class="col-5 align-self-center">·&nbsp;Nombre de habitacion:</label>
						<div class="col-7">
							<input type="text" class="form-control" id="roomNameEdit" name="roomName" placeholder="" required>
						</div>
					</div>

					<div class="modal-footer text-center d-flex justify-content-between align-items-center">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
						<button type="submit" id="buttonRoomUpdate" data-bs-dismiss="modal" class="btn btn-primary"  >

							<div>Confirmar cambios</div>
						</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!-- Modal BORRAR HABITACION -->
	<div class="modal fade" id="deleteRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
                    <h4 class="modal-title">⚠️ <u>Borrar Habitación</u></h4>
                    <button type="button" class="btn-close modalCross" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

				<div class="modal-body">
					<div class="p-3 text-center" id="titleDeleteModal">
						
					</div>
					<div class="text-danger text-center"><b>*Una vez confirmado no se podrá recuperar*</b></div>
					
					
					<div class="modal-footer text-center d-flex justify-content-between align-items-center mt-3">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
						<button type="submit" id="confirmDeleteRoomButton" data-bs-dismiss="modal" class="btn btn-primary" >Confirmar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal BORRAR MIEMBROS -->
	<div class="modal fade" id="deleteMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
                    <h4 class="modal-title">💀 <u>Eliminar Miembro</u></h4>
                    <button type="button" class="btn-close modalCross" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

				<div class="modal-body">
					<div class="p-3 text-center">
						<h5>¿Estás segur@ que desea eliminar a <span style="color: #FFB919;">Lucas</span>?</h5>
					</div>
					<div class="text-danger text-center"><b>*Una vez confirmado no se podrá recuperar*</b></div>
					
					<div class="modal-footer text-center d-flex justify-content-between align-items-center mt-3">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
						<button type="submit" id="confirmDeleteUserButton" data-bs-dismiss="modal" class="btn btn-primary">Confirmar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>