<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Expenses</title>
</head>

<body>
    <!--Navbar-->
    <header th:replace="fragments/nav.html :: nav"></header>

    <!-- Principal -->
    <div>
        <!-- Nuevo Gasto -->
        <div>
            <button class="m-3 rounded-pill p-2"><img th:src="@{/img/add.svg}" src="/img/add.svg" alt="Nuevo Gasto"
                    width="30"></button>
        </div>
        <div id="div-list" class="d-flex ps-4 pb-4 pe-5">
            <!-- Lista Gastos -->
            <div class="col-3 p-2 me-2">
                Lista Gastos
            </div>
            <!-- Balance -->
            <div class="col-6 p-2">
                Balance
            </div>
            <!-- Reparto -->
            <div class="col-3 p-2 ms-2">
                Reparto
            </div>
        </div>
        <!-- Historial -->
        <div class="d-flex justify-content-end">
            <button class="m-3 rounded-pill p-2"><img th:src="@{/img/history.svg}" src="/img/history.svg"
                    alt="Historial" width="30"></button>
        </div>
    </div>

</body>

</html>