<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Home 1</title>
</head>

<body>
    <!--Navbar-->
    <header th:replace="fragments/nav.html :: nav"></header>

    <!--Pagina Principal-->
    <div class="HomePrincipal container-fluid">
        <div class="row">
            <!--Tareas-->
            <div class="col card-list tareas">
                <div class="titleStyle mt-2">TAREAS</div>
                <div class="p-3">

                    <div th:if="${#lists.size(tasks) == 0}">
                        NO TIENES TAREAS, HAS TERMINADO
                        <a href="/login">ME VOT A CAGAR EN TU YEYAAAAAA</a>
                    </div>

                    <div th:each="task : ${tasks}">
                        <!-- <span th:if="${task.usuario.username == user.username}"> -->
                            <div class="card my-4">
                                <div class="card-content d-flex p-3 bg align-items-center">
                                    <!-- <img th:src="${task.image}" alt="Imagen de la tarea"  width="65" height="65" style="margin-right: 5%;"/> -->
                                    <img th:src="@{/img/cocina.png}" src="/img/cocina.png" alt="Imagen de la tarea"  width="65" height="65" style="margin-right: 5%;"/>
                                    <div class="col">
                                        <h2 th:text="${task.title}"></h2>
                                        <h4 th:text="${task.author}"></h4>
                                    </div>
                                    <div class="col text-center">
                                        <h4 th:text="${#dates.format(task.creationDate, 'dd-MM-yyyy')}"></h4>
                                        <h4 th:text="${task.room.name}"></h4>
                                    </div>
                                </div>
                            </div>
                        <!-- </span> -->
                    </div>
                </div>
            </div>

            <div class="col">
                <!--Notas-->
                <div class="row justify-content-center align-items-center text-center">
                    <div class="notas">
                        <div class="titleStyle mt-2">NOTAS</div>
                        <div class="carousel slide p-3" id="taskCarousel" data-ride="carousel">
                            <div class="carousel-inner  p-3">
                                <div th:each="note : ${noteslist}"> 
                                    <span th:if="${note.task.usuario.username == user.username}">
                                        <div class="carousel-item active">
                                            <div class="task-card">
                                                <h2 th:text="${note.title}"></h2>
                                                <p th:text="${note.description}"></p>
                                            </div>
                                        </div>

                                       <!-- <div class="carousel-item">
                                            <div class="task-card">
                                                <h2>Nota 3</h2>
                                                <p>Os quiero</p>
                                            </div>
                                        </div>-->

                                        <a class="carousel-control-prev" href="#taskCarousel" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        </a>

                                        <a class="carousel-control-next" href="#taskCarousel" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Gastos-->
                <div class="row justify-content-center align-items-center text-center">
                    <div class="gastos">
                        <div class="titleStyle mt-2">GASTOS</div>
                        <div class="Gastos_actuales">
                            <h1 th:text="${expenses?.total}">&euro;</h1> <!--Comprueba campo nulable--> 
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</body>

<!--Para el carousel-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>