<!DOCTYPE html>
<html lang="en">

<head>
	<th:block th:replace="fragments/head :: header" />
	<title>Manager</title>
</head>

<body>
	<!--Navbar-->
	<header th:replace="fragments/nav.html :: nav"></header>

	<div class="container-fluid contenedor">
		<div class="row d-flex mb-4">
			<div class="col align-items-center d-flex justify-content-center">
				<div class="Datos">
					<div class="titleStyle">Datos de casa</div>
					<div class="p-3">
						<div class="card my-2">
							<div  th:each="history : ${historical}" class="card-content p-2">
								<p th:text="${history.message}">Habitacion</p>	
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col card-list">
				<div class="Habitaciones">
					<div class="titleStyle">Habitaciones</div>
					<div  class="p-3">
						<div class="card my-2">
							<div th:each="room : ${rooms}" class="card-content d-flex p-2 align-items-center">
								<img th:src="${room.image}"
								   width="20" height="20" style="margin-right: 3%;">
								 <p th:text="${room.name}">Habitacion</p>	
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div class="Miembros">
			<div class="titleStyle">Miembros</div>

			<div class="p-3">
				<div class="card my-2">
					<div th:each="user : ${users}" class="card-content d-flex p-2 bg align-items-center">
						<img th:src="${user.image}" width="20"
							height="20" style="margin-right: 3%;">
							<p th:text="${user.name}">Lucas</p>
					</div>
				</div>
				<div class="d-flex justify-content-end">
					<button class="btn rounded"> <img th:src="@{/img/agregar.png}" src="/img/agregar.png" alt="Imagen"
							width="50" height="50">
					</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>