<!DOCTYPE html>
<html lang="en">

<head>
	<th:block th:replace="fragments/head :: header" />
	<title>Manager</title>
	<script th:src="@{/js/stomp.js}" src="/js/stomp.js"></script>
    <script th:src="@{/js/iw.js}" src="/js/iw.js"></script>
    <script th:src="@{/js/room.js}" src="/js/room.js"></script>
</head>

<body>
	<!--Navbar-->
	<header th:replace="fragments/nav.html :: nav"></header>

	<div class="container-fluid p-4">
		<div class="d-flex align-items-center justify-content-center">	
			<div class="manager p-3">
				<div class="titleStyle">Datos de la casa</div>
				<hr>
				<div class="row">
					<div class="titleStyle d-flex justify-content-center">
						<div class="d-flex justify-content-center align-items-center mx-5">
							<h4>Nombre:&ensp;</h4>
							<h3>Casita IW</h3>
						</div>
						<div class="d-flex justify-content-center align-items-center mx-5">
							<h4>Contraseña:&ensp;</h4>
							<h3>***********</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col card-list">
				<div class="Habitaciones p-3">
					<div class="row d-flex justify-content-center">
						<div class="col">
						</div>
						<div class="titleStyle col d-flex align-items-center justify-content-center">Habitaciones</div>
						<div class="col d-flex justify-content-end align-items-end">
							<button type="button" class="btn rounded">
								<span class="image-container">
									<img th:src="@{/img/agregar.png}" id="addRoomImg" src="/img/agregar.png" alt="Imagen" width="50" height="50" data-bs-toggle="modal" data-bs-target="#newRoomModal">
								</span>
							</button>
						</div>
					</div>
					
					<div id="divCardsRoom">
						<div class="card my-2" th:each="room : ${rooms}">
							<div class="card-content d-flex justify-content-between ms-2 p-1">
								<div class="d-flex">
									<div class="mx-3">
										<img th:src="@{/img/JefeCasa.PNG}" width="50" height="60">
									</div>
									<div th:text="${room.name}" class="titleStyle textCardManager"></div>
								</div>
								<div class="mx-4 text-center">
									<b><u>Acciones</u></b>
									<div class="d-flex mt-1">
										<div class="mx-3 imgActionsEdit">
											<img th:src="@{/img/lapiz.png}" src="/img/lapiz.png" width="35" height="35">
										</div>
										<div class="mx-3 imgActionsDelete"> 
											<img th:src="@{/img/basura.png}" src="/img/basura.png" width="35" height="35">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col card-list">
				<div class="Miembros p-3">
					<div class="titleStyle">Miembros</div>
					
					<div id="divCardsMembers">
						<div class="card my-2" th:each="user : ${membersHouse}">
							<div class="card-content d-flex justify-content-between ms-2 p-1">
								<div class="d-flex">
									<div class="mx-3">
										<img th:src="@{/img/history.svg}" width="50" height="60">
									</div>
									<div th:text="${user.username}" class="titleStyle textCardManage"></div>
								</div>
								<div class="mx-4 text-center">
									<b><u>Acciones</u></b>
									<div class="d-flex mt-1">
										<div class="mx-3 imgActionsEdit">
											<img th:src="@{/img/lapiz.png}" src="/img/lapiz.png" width="35" height="35">
										</div>
										<div class="mx-3 imgActionsDelete"> 
											<img th:src="@{/img/basura.png}" src="/img/basura.png" width="35" height="35">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal CREAR HABITACION -->
    <div class="modal fade" id="newRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><u>Nueva Habitacion</u> 📝</h4>
                    <button type="button" class="btn-close modalCross" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <form id="form-newRoom">
                        <div class="row mb-3">
                            <label class="col-5 align-self-center"><b>·&nbsp;</b> Nombre de la habitacion:</label>
                            <div class="col-7">
                                <input type="text" class="form-control" id="roomName" name="roomName" placeholder="Nombre de la habitacion" required>
                            </div>
                        </div>
                       
                        <div class="modal-footer text-center d-flex justify-content-between align-items-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" id="buttonNewRoomCreation" data-bs-dismiss="modal" class="btn btn-primary" onclick="newRoom(event)">Nueva Habitación</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>