<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/head :: header" />
    <script th:src="@{/js/stomp.js}" src="/js/stomp.js"></script>
    <script th:src="@{/js/iw.js}" src="/js/iw.js"></script>
    <script th:src="@{/js/task.js}" src="/js/task.js"></script>
    <title>Task</title>
</head>

<body>
    <!--Navbar-->
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="container-fluid p-4">
        <div class="row">
            <div class="col p-1">
                <!--Filtro y titulo REVISAR THYMELEAF-->
                <div class="tareas">
                    <div class="titleStyle mb-2">TAREAS</div>
                    <div class="d-flex justify-content-between mx-4">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="mx-2">
                                <select class="form-select form-select-sm" id="selectUpdateByRoom" aria-label=".form-select-sm example" onchange="filterUpdate(event, 1)">
                                    <option selected disabled hidden value="none">Filtrar por habitación</option>
                                    <option th:each="room: ${rooms}" th:value="${room.id}" th:text="${room.name}">ROOM</option>
                                </select>
                            </div>
                            <div class="mx-2">
                                <select class="form-select form-select-sm" id="selectUpdateByUser" aria-label=".form-select-sm example" onchange="filterUpdate(event, 2)">
                                    <option selected disabled hidden value="none">Filtrar por miembros</option>
                                    <option th:each="houseUser: ${houseUsers}" th:value="${houseUser.id}" th:text="${houseUser.username}">USER</option>
                                </select>
                            </div>
                            <div class="mx-2">
                                <select class="form-select form-select-sm" id="selectUpdateByDate" aria-label=".form-select-sm example" onchange="filterUpdate(event, 3)">
                                    <option selected disabled hidden value="none">Ordenar por</option>
                                    <option value="moreNew">Fecha más reciente</option>
                                    <option value="moreOld">Fecha más antigua</option>
                                </select>
                            </div>
                            <!-- <div class="dropdown m-2">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Filtro habitación
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li th:each="room: ${rooms}"><a class="dropdown-item" href="#" th:text="${room.name}"> ROOM </a></li>
                                </ul>
                            </div> -->
                            <!-- <div class="dropdown m-2">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Filtro persona
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li th:each="houseUser: ${houseUsers}"><a class="dropdown-item" href="#" th:text="${houseUser.username}"> USER </a></li>
                                </ul>
                            </div> -->
                        </div>
    
                        <div>
                            <button type="button" class="btn rounded">
                                <span class="image-container">
                                    <img th:src="@{/img/agregar.png}" id="addTaskImg" src="/img/agregar.png" alt="Imagen" width="50" height="50" data-bs-toggle="modal" data-bs-target="#newTaskModal">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <!--Tareas-->
                <div class="card-list tareas p-3 mt-2 justify-content-center">
                    <div class="divCardsTasks" id="divCardsTasks">
                        <div id="noTasks" th:if="${#lists.size(tasks) == 0}"  class="titleStyle">
                            <h4>No se encuentran tareas para la casa</h4>
                            <img th:src="@{/img/noHayTareas.png}" src="/img/noHayTareas.png" height="50" width="50">
                        </div>

                        <div th:each="task: ${tasks}"  class="card my-2">
                            <div class="card-content d-flex p-1 align-items-center taskCard">
                                <div class="col ms-2 my-1">
                                    <h3 th:text="${task.title}"></h3>
                                    <h5 th:text="${task.author}"></h5>
                                </div>
                                <div class="col-4">
                                    <div>
                                        <h5 th:text="${#dates.format(task.creationDate, 'dd-MM-yyyy')}"></h5>
                                    </div>
                                    <div>
                                        <h5 th:text="${task.room.name}"></h5>
                                    </div>
                                </div>
                                <button class="btn" type="button" onclick="viewInfo(event)">
                                    <div class="d-none" id="taskPersonalID" th:text="${task.id}"></div>
                                    <span class="image-container">
                                        <img th:src="@{/img/vista.svg}" src="/img/vista.svg"  alt="Imagen" width="50"
                                        height="50" style="margin-right: 5%;" >
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

           <div class="col p-1">
                <div class="d-flex flex-column p-1 tareas justify-content-center align-items-center">
                    <div class="titleStyle mt-2">Información de tarea</div>
                    <div class="p-3 text-center" id="noTaskSelected">
                        <div class="titleStyle"><h4>No hay tarea seleccionada</h4></div>
                    </div>
                    <div class="p-3 text-center" id="divInfoCard">
                        <form>
                        </form>
                    </div>
                 </div>

                <div class="mt-2 tareas justify-content-center align-items-center p-2">
                    <div class="titleStyle mt-2">Notas de la tarea </div>
                    <div class="card-list">
                        <div th:each="note: ${notes}" class="card p-3">
                            <div class="card-content d-flex align-items-center">
                                <div class="card-header">
                                    <div>
                                        <h7 th:text="${note.author}"></h7>
                                    </div>
                                </div>
                                <div class="col">
                                    <h6 th:text="${note.msg}"></h6>
                                </div>
                            </div>
                        </div>
                        <div class="p-3 justify-content-center">
                            <form action="" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Escribir nueva nota">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal CREAR TAREA -->
    <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><u>Nueva Tarea</u> 📝</h4>
                    <button type="button" class="btn-close modalCross" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <form id="form-newTask">
                        <div class="row mb-3">
                            <label class="col-5 align-self-center"><b>·&nbsp;</b> Nombre de la Tarea:</label>
                            <div class="col-7">
                                <input type="text" class="form-control" id="taskTitle" name="title" placeholder="Nombre de la Tarea" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-5 align-self-center"><b>·&nbsp;</b> Autor de la tarea:</label>
                            <div class="col-7">
                                <input type="text" class="form-control" id="taskAuthor" name="author" th:value="${authorName}" disabled readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-5 align-self-center"><b>·&nbsp;</b> Asignada a:</label>
                            <div class="col-7">
                                <select name="user_id" id="addTaskSelectUser" class="form-select" required>
                                    <option disabled selected>Seleccione uno...</option>
                                    <option th:each="houseUser: ${houseUsers}" th:value="${houseUser.id}" th:text="${houseUser.username}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-5 align-self-center"><b>·&nbsp;</b> Habitación:</label>
                            <div class="col-7">
                                <select name="room_id" id="addTaskSelectRoom" class="form-select">
                                    <option disabled selected>Seleccione uno...</option>
                                    <option th:each="room: ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer text-center d-flex justify-content-between align-items-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" id="buttonNewTaskCreation" data-bs-dismiss="modal" class="btn btn-primary btnCreateTask" onclick="newTask(event)">Crear Tarea</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>