<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Task</title>
</head>

<body>
    <!--Navbar-->
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="container-fluid p-4">
        <div class="row">
            <div class="col justify-content-center p-1">
                <!--Filtro y titulo REVISAR THYMELEAF-->
                <div class="d-flex tareas justify-content-center align-items-center">
                    <div class="letra">TAREAS (función click tareas no hecha)</div>
                    <div class="d-flex">
                        <div class="dropdown m-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Filtro habitación
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Baño</a></li>
                                <li><a class="dropdown-item" href="#">Cocina</a></li>
                                <li><a class="dropdown-item" href="#">Salón</a></li>
                            </ul>
                        </div>
                        <div class="dropdown m-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Filtro persona
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Lucas</a></li>
                                <li><a class="dropdown-item" href="#">David</a></li>
                                <li><a class="dropdown-item" href="#">Clara</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Tareas-->
                <div class="card-list tareas p-3 mt-2 justify-content-center">
                    <div class="">

                        <div th:each="task: ${tasks}" class="card my-2">
                            <div class="card-content d-flex p-1 bg align-items-center">
                                <div class="col">
                                    <h5 th:text="${task.name}">Hacer la comida</h5>
                                    <h7 th:text="${task.author}">Lucas</h7>
                                </div>
                                <div class="col text-center">
                                    <h7 th:text="${task.date}">10/02/2024<h7>
                                    <h7 th:text="${task.room}">Cocina</h7>
                                </div>
                                <button class="btn">
                                    <img th:src="@{/img/vista.png}" src="/img/vista.png" alt="Imagen" width="50"
                                        height="50" style="margin-right: 5%;">
                                </button>
                            </div>
                        </div>

                    </div>
                    <button type="button" class="btn rounded"> <img th:src="@{/img/agregar.png}" src="/img/agregar.png" alt="Imagen"
                            width="50" height="50" style="margin-right: 5%;"  data-bs-toggle="modal" data-bs-target="#newmodaltask"> 
                    </button>
                </div>
            </div>

            <div class="col p-1">
                <div class="d-flex flex-column p-1 tareas justify-content-center align-items-center">
                    <div class="letra"> <u> INFORMACIÓN DE LA TAREA SELECCIONADA </u> </div>
                    <div class="letraInfo"> Cocina </div>
                    <div class="letraInfo"> Lucas </div>
                    <div>
                        <span class="letraInfo"> 10/02/2024 </span>
                        <span class="letraInfo"> Administrador </span>
                    </div>
                </div>
                <div class="mt-2 tareas justify-content-center align-items-center p-2">
                    <div class="letra"> Notas de la tarea </div>
                    <div class="card-list">
                        <div class="p-3">
                            <div th:each="note: ${notes}" class="card my-2">
                                <div class="card-content d-flex p-1 bg align-items-center">
                                    <div class="card-header">
                                        <div>
                                            <h7 th:text="${note.author}"> David </h7>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h6 th:text="${note.msg}">Esta tarea hay que hacerla ya</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-2 justify-content-center">
                            <form action="" method="post">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Escribir nueva nota">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary bg-gray" type="button">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  <!-- Modal -->
  <div class="modal fade modal-dialog modal-dialog-centered" id="newmodaltask" tabindex="0" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>